
<div class="area-header">
  <h1>Sign Up</h1>
  <br>
  <p style="color: grey; font-size: 14px">Sign up for free to access to in any of our products </p>
</div>
<div class="continue-with">
  <div id="google">
    <img src="assets/img/first-page/google.svg">
    <h5>Continue With Google</h5>
  </div>
  <div id="twiter">
    <img src="assets/img/first-page/twiter.svg">
    <h5>Continue With Twitter</h5>
  </div>
</div>
<div class="divider">
  <h5 id="or">OR</h5>
</div>
<div class="area-input">
  <div class="email-holder">
    <label for="email">Email address</label>
    <input type="email" name="email" class="email" placeholder="example@gmail.com">
  </div>
  <div class="password-holder">
    <div class="password-label">
      <label for="password">Password</label>
      <img src="assets/img/hide-show/show.svg" alt="hide" #img (click)="changePasswordVis(password, img)" style="cursor: pointer;"></div>
    <input type="text" name="password" class="password" #password>
    <p style="color: gray; font-size: 12px">Use 8 or more characters with a mix of letters, numbers & symbols</p>
  </div>
</div>
<div class="button-signin-holder">
  <div class ="check-boxes">
    <div class="first-check-box">
      <input type="checkbox" class="square-checkbox">
      <h6>
        Agree to our <a href="#" class="grey-underline">Terms of use</a> and <a href="#" class="grey-underline">Privacy Policy</a>
      </h6>
    </div>
    <br>
    <div class="second-check-box">
      <input type="checkbox" class="square-checkbox"><h6>Subscribe to our monthly newsletter</h6>
    </div>
  </div>
  <br>
  <button class="signin-button first-page-btn">Sign Up</button>
  <h6>Already have an  account? <a href="sign_in" class="grey-underline">Log in</a></h6>
</div>