<footer class="footer">
    <div class="footer-inside">
        <div class="inside-header"><h4>Need Help</h4></div>
            <a href=""><h6>Contact Us</h6></a>
            <a href=""><h6>Track Order</h6></a>
            <a href=""><h6>Returns & Refunds</h6></a>
            <a href=""><h6>FAQ's</h6></a>
            <a href=""><h6>Career</h6></a>
    </div>
    <div class="footer-inside">
        <div class="inside-header"><h4>Company</h4></div>
            <a href=""><h6>About Us</h6></a>
            <a href=""><h6>euphoria Blog</h6></a>
            <a href=""><h6>euphoriastan</h6></a>
            <a href=""><h6>Collaboration</h6></a>
            <a href=""><h6>Media</h6></a>
    </div>
    <div class="footer-inside" id="first">
        <div class="inside-header"><h4>More Info</h4></div>
            <a href=""><h6>Term and Conditions</h6></a>
            <a href=""><h6>Privacy Policy</h6></a>
            <a href=""><h6>Shipping Policy</h6></a>
            <a href=""><h6>Sitemap</h6></a>
    </div>
    <div class="footer-inside" id="second">
        <div class="inside-header"><h4>Location</h4></div>
            <a href=""><h6>support@euphoria.in</h6></a>
            <a href=""><h6>Eklingpura Chouraha, Ahmedabad Main Road</h6></a>
            <a href=""><h6>(NH 8- Near Mahadev Hotel) Udaipur, India- 313002</h6></a>
    </div>
</footer>
