<div class="area-header"><h1>Reset Your Password</h1><br><p style="color: grey; font-size: 14px">Enter your email and we'll send you a link to reset your password.</p></div>
<div class="area-input">
    <div class="email-holder">
        <label for="email">Email</label>
        <input type="email" name="email" class="email">
        <h6 class="error" [ngStyle]="{
            color: 'red',
            display: errors.length == 0 ? 'none' : 'block',
            marginTop: '5px'
        }">We can not find your email.</h6>
    </div>
</div>
<div class="button-signin-holder">
    <button class="signin-button first-page-btn">Send</button>
    <h6> Back to <a href="sign_in" class="grey-underline">Login</a></h6>
</div>