
.slider-caption
    height: 100%
    inset: 13%
    text-align: start
    h5,h1,h4
        margin-bottom: 3.5vw  
    h1
        font-weight: 800
        width: 40% 
        font-size: 5.3vw
    h4
        font-size: 2.5vw
    h5
        font-size: 2.1vw
    .slider-btn 
        white-space: nowrap
        font-size: 1.8vw
        padding: 1vw 6vw
        border-radius: 8px
        font-weight: 700
        background: #FFF
        transition: linear 0.25s 
        &:hover
            background: #8A33FD
            color: #fff

.arrival-content
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(1, 1fr)
    gap: 4.5vh

.shop-slide
    padding-top: 9vh

.content-item
    width: 100%
    img
        margin-bottom: 2vw
        border-radius: 0.625rem
        width: 100% 
    p
        white-space: nowrap
        color: #3C4242
        font-weight: 700
        font-size: 96%
        font-family: 'Open Sans', sans-serif

.pic
    display: flex
    width: 100%
    margin-bottom: 10vh
    margin-top: 10vh

.pic-inside
    display: flex
    justify-content: flex-start
    width: 100%
    height: 44vw
    background-image: url('/assets/img/home/fashion.png')
    background-size: cover
    background-repeat: no-repeat
    border-radius: 0.65rem

.pic-text
    padding: 10% 5%
    width: 50%
    h1
        color: white
        font-weight: 600
        font-size: 3.5vw
        margin-bottom: 2vw
    h4
        font-size: 1.8vw
        color: #e4e4e4
        font-weight: 300
        margin-bottom: 3vw
    button
        padding: 2.5% 5%
        font-size: 1.6vw
        border-radius: 8px

.men-grid
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-template-rows: auto
  gap: 4.5vh

.for-women-grid
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: auto
    gap: 4.5vh

.men-grid-section,.home-grid-section, .women-grid-section
    width: 100%
    img
        width: 100%

.grid-description
    margin-top: 1vw
    display: flex
    flex-direction: row
    justify-content: space-between
    h5 
        font-size: 96%
        white-space: nowrap
        margin-bottom: 1vw
        margin-top: 1vw
        color: #2A2F2F
        font-weight: 700
    p
        font-size: 87%
        white-space: nowrap
        color: #7F7F7F
        font-weight: 500
        margin-bottom: 0

.men-grid-img, .women-grid-img
    width: 100%
    height: 55vh
    object-fit: cover
    border-radius: 0.625rem

.saving-item
    width: 100%
    height: 26vw

.saving-zone-grid
    display: grid
    grid-template-rows: auto
    grid-template-columns: 1fr 1fr 1fr
    gap: 3vh
    margin-bottom: 3vh

.saving-zone-grid-two
    display: grid
    grid-template-rows: auto 
    grid-template-columns: 1fr 1fr
    column-gap: 3vh

#zone-1, #zone-2, #zone-3, #zone-4, #zone-5
    padding: 5% 5%
    background-size: cover
    background-repeat: no-repeat
    border-radius: 0.625rem

#zone-2, #zone-3, #zone-4, #zone-5
    display: flex
    justify-content: flex-end
    text-align: end

.saving-item-text
    width: 50%
    img
        width: 20%
    h1, h6, h5, img
        margin-bottom: 1.5vw
    h6
       font-size: 1.5vw
    h5
       font-size: 1.3vw
    h1
        font-size: 2.5vw
    button
        font-size: 1.2vw
        background-color: #ffffff00
        border: 1px solid black
        padding: 0.5vw 1vw
        white-space: nowrap
        border-radius: 0.5vw

#zone-1
    background-image: url('/assets/img/home/saving-zone/1.png')
#zone-2
    background-image: url('/assets/img/home/saving-zone/2.png')
#zone-3
    background-image: url('/assets/img/home/saving-zone/3.png')
#zone-4
    background-image: url('/assets/img/home/saving-zone/4.png')
#zone-5
    background-image: url('/assets/img/home/saving-zone/5.png')

.big-saving-zone, .for-women, .top-brands
    margin-bottom: 5%    

.top-brands
    padding: 5% 10%
    border-radius: 0.75rem
    border: 0.5px groove black
    background-color: #3C4242

.brands-grid
    display: grid
    grid-template-rows: auto
    grid-template-columns: repeat(5,1fr)
    column-gap: 2.5vh
    img
        width: 100%


.brands-header
    text-align: center
    h1
        color: white
        font-weight: 900
        font-size: 260%
        margin-bottom: 2vw
    h5
        font-size: 130%
        font-weight: 300
        color: white
        margin-bottom: 4vw

.limelight-grid
    display: grid
    grid-template-columns: repeat(4,1fr)
    grid-template-rows: 1fr
    gap: 4.5vh         

.feedback-container
    display: grid
    grid-template-columns: repeat(3,1fr)
    grid-template-rows: 1fr
    gap: 4.5vh

.feedback-card
    display: flex
    flex-direction: column
    border: 1px groove #BEBCBD
    border-radius: 0.7rem
    padding: 5%
        
.card-header
    display: flex
    justify-content: space-between

.card-name
    h3
        font-size: 1.5vw
    color: #3C4242
    margin-top: 1.5vw
    margin-bottom: 1.1vw

.card-feedback
    font-size: 70%
    color: #807D7E 

@media only screen and (max-width: 840px)
    #zone-3
        display: none

    .saving-zone-grid
        grid-template-columns: 1fr 1fr
        margin-bottom: 0

    .men-grid
        grid-template-columns: repeat(2, 1fr)

    .for-women-grid, .limelight-grid, .arrival-content
        grid-template-columns: repeat(2, 1fr)

    .feedback-container
        grid-template-columns: repeat(1, 1fr)

    .feedback-card
        height: fit-content

    .card-name
        margin-top: 5%
        margin-bottom: 5%
        h3
            font-size: 140%

    .card-feedback
        font-size: 80%        

    .saving-item
        height: 100%

    .saving-item-text
        width: 70%
        h6
            font-size: 90%
        h5
            display: none
        h1
            font-size: 150%
        button
            font-size: 70%
        
@media only screen and (max-width: 625px)    
    .carousel-indicators
       display: none

    .brands-header
        h1
            font-size: 140%
        h5
            font-size: 70%
    .top-brands
        padding: 5%

    .slider-caption
        .slider-btn
            font-size: 2.8vw
        h4
            font-size: 3vw
            font-weight: 500 
        h5
            display: none
        

@media only screen and (max-width: 530px)
    .home-h2
        font-size: 130%
    #polo
        display: none

    .brands-grid
        grid-template-columns: repeat(4,1fr)
        column-gap: 2vh    

    .saving-item
        height: 40vw
        display: flex
        align-items: center
    .saving-item-text
        h6, button, img
            display: none
        h1
            font-size: 100%

@media only screen and (max-width: 500px)
    .for-women-grid, .limelight-grid, .arrival-content, .men-grid, .feedback-container
        grid-template-columns: 1fr
        gap: 1vh

    .saving-zone-grid, .saving-zone-grid-two
        gap: 2vh
        
    .pic-text
        display: flex
        align-items: center
        h1
            font-size: 100%
        h4, button
            display: none