<div class="area-header"><h1>Sign In Page</h1><br><p style="color: grey; font-size: 14px">Sign in to your account</p></div>
<div class="continue-with">
        <button id="google"><img src="assets/img/first-page/google.svg"><h5>Continue With Google</h5></button>
    <button id="twiter"><img src="assets/img/first-page/twiter.svg"><h5>Continue With Twitter</h5></button>
</div>
<div class="divider">
    <h5 id="or">OR</h5>
</div>
<div class="area-input">
    <div class="email-holder">
        <label for="email">User name or email address</label>
        <input type="email" name="email" class="email" placeholder="example@gmail.com">
    </div>
    <div class="password-holder">
        <div class="password-label"><label for="password">Password</label>
            <img src="assets/img/hide-show/show.svg" alt="hide" #img (click)="changePasswordVis(password, img)" style="cursor: pointer;"></div>
        <input type="password" name="password" class="password" #password>
    </div>
</div>
<div class="button-signin-holder" (click)="authService.logIn()">
    <a href="shop"><button class="signin-button first-page-btn">Sign In</button></a>
    <h6>Don't have an account? <a href="sign_up" class="grey-underline">Sign up</a></h6>
    <h6><a href="reset_password" class="grey-underline">Forget your password</a></h6>
</div>